<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= form_with model: @search, url: "/search", method: :post do |form| %>
        <%= render partial: 'partials/form_errors', locals: { model: @search } %>
        <div class="input-group mb-3">
          <%= form.text_field :query, class: 'form-control', placeholder: 'Search'%>
          <button class="btn btn-primary" type="submit">
            <div class="bi bi-search">
              Search
            </div>
          </button>
        </div>
        <div class="text-center">
          <%= form.collection_radio_buttons :sort, [["default", "Default"], ["seeds", "Seeds"], ["date", "Date"], ["hd", "HD"]], :first, :last do |b| %>
            <%= b.label class: 'form-check-label' do %>
              <%= b.radio_button %>
              <%= b.text %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
