
<div class="text-end">
  <ul class="digg_pagination">
    <%= will_paginate @searches %>
  </ul>
</div>

<% @searches.each_with_index do |link| %>
  <ul class="list-group-numbered row border">
    <li class="col-8 border-end"><%= link_to link.name, link.link_forum, class: "link-dark" %></li>
    <li class="col-2 border-end"><%= link_to link.hd, link.link, class: "link-primary" %></li>
    <li class="col-1 border-end"><%= color_link_seed(link.seeds) %></li>
    <li class="col-1"><%= color_link_lychee(link.lychee) %><li>
  </ul>
<% end %>

<div class="text-end">
  <ul class="digg_pagination">
    <%= will_paginate @searches %>
  </ul>
</div>

