<!DOCTYPE html>
<html>
  <head>
    <title>Torrent</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <div class="container">
    <div class="p-3">
      <%= render 'form_search' %>
    </div>
  </div>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
